*{
  box-sizing: border-box;
  align-content: center;

}

  .input-container {
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    display: flex;
  }
  .input-container .icon{
    font-size: 2.2vw;
    margin-top: 10px;
    margin-right: 38%;
    position: absolute;
    color: rgb(131, 131, 131);
  }
  
  .input-bar {
    font-size: 1.4vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 35px;
  }

  .input-bar:focus {
    border-color: #007bff;
    outline: none;
  }
  .App {
    text-align: center;
    padding: 5px;
  }
  .main-image{
    width: 50%;
    margin-top: 30px;
  }
  .span-container{
    font-size: 1.5vw;
    text-align: center;
    margin-top: 20px;
    color: rgb(89, 86, 86);
  }
 
  .info-container{
    padding-top: 85px;
    text-align: left;
    flex-direction: column;
    font-size: 2vw;
  }
  .error{
    color: red;
  }
  h1{
    font-size: 4vw;
  }