/* src/InputBar.css */
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
  }
  
  .input-bar {
    width: 550px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .input-bar:focus {
    border-color: #007bff;
    outline: none;
  }
.App {
    text-align: center;
    padding: 50px;
    font-size: 25px;
  }
  .image{
    width: 55%;
    height: 35%;
    margin-top: 15px;
  }
  .span-container{
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    color: rgb(89, 86, 86);
  }
  