*{
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

  .input-container {
    align-items: center;
    flex-direction: column;
    display: flex;
  }
  .input-container .icon{
    position: absolute;
    margin-right: 563px;
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(131, 131, 131);
  }
  
  .input-bar {
    width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 35px;
  }

  .input-bar:focus {
    border-color: #007bff;
    outline: none;
  }
  .App {
    text-align: center;
    padding: 50px;
    font-size: 26px;
    min-width: 600px;
  }
  .main-image{
    width: 700px;
    height: 350;
    margin-top: 30px;
  }
  .span-container{
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    color: rgb(89, 86, 86);
  }
  @media screen and (max-width: 800px) {
    .main-image{
      width: 400px;
      height: 200px;
    }
    .info-image{
      width: 40px;
    }
    .info-container{
      font-size: 9px;
    }
    .error{
      font-size: 15px;
    }

  }
  .info-container{
    padding-top: 85px;
    text-align: left;
    flex-direction: column;
  }
  .error{
    color: red;
  }